<div class="container">
	<h2><%= @user.username %>'s Profile</h2>
	<h3>Stories Written</h3>
	<%= @stories %>
	<h3>Collected Stories</h3>
	<%= @collection %>
	<h3>Achievements</h3>
	<%= @achievements %>
	<h3>About me</h3>
	<%= @user.bio %>
</div>