<div class="jumbotron">
  <div class="container">
    <div class="hero-content">
      <h1 class="headline">Anthologist</h1>
      <h3>Read, write, and collect short stories from our community.</h3>
      <% if user_signed_in? %>
        <h3>Welcome back, <%= current_user.username %>.</h3>
      <% else %>
        <h3>
          <%= link_to "Sign In", new_user_session_path, style: 'color: #EEEEEE' %> or
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-signup' %> today!
        </h3>
      <% end %>
    </div>
  </div>
</div>
<div class="container text-center selling-points">
  <div class="row">
    <div class="col-md-4 points">
      <div class="glyphicon-ring"><span class="large-icon glyphicon glyphicon-book glyphicon-bordered"></span></div>
      <h2 class="text-center"><%= link_to "Read", stories_path %></h2>
      <p>Read short stories from our community of passionate writers. Whether you're looking for romance, a science-fiction escape, a spooky tale, or a combination of them all, you'll find it here.</p>
    </div>
    <div class="col-md-4 points">
      <div class="glyphicon-ring"><span class="glyphicon glyphicon-pencil glyphicon-bordered"></span></div>
      <h2 class="text-center"><%= link_to "Write", new_story_path %></h2>
      <p>Write the stories you love to think about. Share them with our community of readers for free, or request to get paid for your work <em>(coming soon)</em>. At Anthologist, you control how your work is distributed.</p>
    </div>
    <div class="col-md-4 points">
      <div class="glyphicon-ring"><i class="large-icon glyphicon glyphicon-tasks glyphicon-bordered"></i></div>
      <h2 class="text-center"><%= link_to "Collect", collection_path %></h2>
      <p>Grow your short story collection. Earn badges and achievements as you discover original works, or write your own. It's your anthology.</p>
    </div>
  </div>
</div>