<h1>Edit Story</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for stories</p>
  </div>
  <div class="col-md-8">
    <%= form_for @story do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Story title" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 16, class: 'form-control', placeholder: "Story text" %>
      </div>
      <div class="form-group">
        <%= f.label :genre %>
        <%= f.select :genre, @story.genres, prompt: "Choose a genre" %>
        <%= f.submit "Save", class: 'btn btn-success pull-right' %>
      </div>
    <% end %>
  </div>
</div>
