<h1>List of Stories</h1>
<ul class="nav nav-pills">
  <li><%= link_to "All", stories_path %></li>
  <% @genres.each do |genre| %>
  <li class="<%= 'active' if params[:genre] == genre %>">
    <%= link_to genre, stories_path(:genre=>genre)  %>
  <% end %>
  </li>
</ul>
<br>
<div class="row">
  <% @stories.each do |story| %>
    <div class="col-md-3 col-sm-4">
      <div class="thumbnail">
        <%= link_to image_tag(story.cover.url(:thumb)), story, title: story.title %>
        <div class="caption text-center">
          <p><%= link_to truncate(story.title, length: 25), story, title: story.title %></p>
          <% if current_user %>
            <p><%= render partial: 'collections/collect', class: 'pull-right', locals: { story: story } %></p>
            <p><b><%= story.ratings.count %></b> <%= 'like'.pluralize(story.ratings.count) %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>