<h1>New Story</h1>

<div class="row">
  <div class="col-md-4">
    <p>Story Guidelines</p>
  </div>
  <div class="col-md-8">
    <%= form_for(@story, multipart: true) do |f| %>
      <% if @story.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(@story.errors.count, "error") %>.</h4>
          <ul>
            <% @story.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Story title" %>
        </div>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, rows: 16, class: 'form-control', placeholder: "Story text" %>
        </div>
        <div class="form-group">
          <%= f.label :price %>
          <%= f.number_field :price, class: 'form-control', placeholder: "0" %>
        </div>
        <div class="form-group">
          <%= f.label :genre %>
          <%= f.select :genre, @genres, prompt: "Choose a genre" %>
          <%= f.submit "Save", class: 'btn btn-success pull-right' %>
        </div>
        
        <div class="form-group">
          <%= f.label "Upload Cover Art" %>
          <%= f.file_field :cover, class: 'btn btn-default' %>
        </div>
        
        <div class="form-group">
          <%= f.label :published, class: 'checkbox-inline' do %>
            <%= f.check_box :published %><p class='bg-danger'> Publish - Story is submitted and cannot be edited! </p>
          <% end %>
        </div>
    <% end %>   
  </div>
</div>