<h1><%= @story.title %>
<small>by <%= @story.author %> <%= @story.price %> <%= @story.tier %></small>
</h1>

<div class="row">
  <div class="col-md-8 text-justify">
    <p><%= @story.body.html_safe %></p>
    
    <div>
     <h3>Comments</h3>
     <%= render @story.comments %>
    </div>
    <% if current_user %>
      <%= render 'comments/form', comment: Comment.new, story: @story %>
    <% end %>
  </div>
  <div class="col-md-4">
      <p><%= link_to "Edit", edit_story_path(@story), class: 'btn btn-success' %>
      <%= link_to "Delete", @story, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this story?'} %></p>
    <% if current_user %>
      <p><%= render partial: 'collections/collect', locals: { story: @story } %></p>
      <p><%= render partial: 'ratings/rate', locals: { story: @story } %></p>
    <% end %>
  </div>
</div>

