<!DOCTYPE html>
<html>
<head>
  <title>Anthologist</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--<div class="container">-->
    <ul class="nav nav-tabs">
      <li class="brand"><span>Anthologist</span></li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Read", stories_path %></li>
      <li><%= link_to "Write", new_story_path %></li>
      <li><%= link_to "Collection", collection_path %></li>
      <% if user_signed_in? %>
        <li class="pull-right dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle" role="presentation"><%= current_user.email %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Achievements', achievement_path, :class => 'navbar-link' %></li>
              <li><%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
            </ul>
      <% else %>
        <ul class="pull-right user-signin">
          <%= link_to 'Sign In', new_user_session_path, :class => 'navbar-link' %> | 
          <%= link_to 'Sign Up', new_user_registration_path, :class => 'navbar-link' %>
        </ul>
      <% end %>
    </ul>
    <% if flash[:notice] %>
        <div class="alert alert-success text-center">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning text-center">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <%end%>
    
    <%= yield %>
  <!--</div>-->
  
<script>
$('document').ready(function() {
  setTimeout(function() {
    $('.alert').slideUp();
  }, 2000);
});
</script>
</body>
</html>
